<div id="super">
	<%= link_to image_tag("application/logo.png"), root_path, :class => "logo" %>
	<div class="cta">
		<%= link_to "Create Game", {:controller => 'games', :action => 'new'}, :id => "btn-creategame", :class => "btn success large" %>
	</div>
	<div id="environment">
		<div class="background">
		</div>
	</div>
</div>
<section id="home" class="border-top">
	<div id="presentation">
		<h2>What is Arcade Forge?</h2>

		<iframe class="embed-vimeo" src="https://player.vimeo.com/video/63120555?color=ffffff&title=0&byline=0&portrait=0" width="565" height="320" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vestibulum erat in lobortis lacinia. Nulla dapibus malesuada nisl, sed rhoncus risus fermentum et. Cras id vulputate neque, non pretium sapien.</p>
	</div>
	<div id="featured-games">
		<h2>Featured Games</h2>
		<ul class="game-category">
			<%= render :partial => 'game_thumbnail', :collection => @featured_games %>
		</ul>
	</div>
</section>