<div id="container-fluid">
    <div id="container">
        <a id="logo" href="index.html"></a>
        <button  id="btn-create" class="btn btn-lg btn-success" type="button"><a href="../index.html">Create Game</a></button>

        <div id="lists">
            <div id="list-top">
                <h1>Top 10 games</h1>
                <ul>
                    <li><a href="#">1. Mushroom Eater</a></li>
                    <li><a href="#">2. Crayon Hunter</a></li>
                    <li><a href="#">3. Forces of The Realm</a></li>
                    <li><a href="#">4. Transformatium</a></li>
                    <li><a href="#">5. Elgena 3211</a></li>
                    <li><a href="#">6. Stormriders</a></li>
                    <li><a href="#">7. Spider farm</a></li>
                    <li><a href="#">8. Soul Saver</a></li>
                </ul>
            </div>

            <div id="list-recent">
                <h1>10 Recent games</h1>
                <ul>
                    <li><a href="#">1. Babysitter</a></li>
                    <li><a href="#">2. Legend of Chang</a></li>
                    <li><a href="#">3. Asian Invaders</a></li>
                    <li><a href="#">4. Space Explorer</a></li>
                    <li><a href="#">5. Jelly Rush</a></li>
                    <li><a href="#">6. Puzzler III</a></li>
                    <li><a href="#">7. Bubbleboy and Jim</a></li>
                    <li><a href="#">8. The Backwards</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div id="environment">
        <div id="environment-base">
        </div>
    </div>
</div>
