<section id="home" class="container">
	<%= link_to image_tag("logo_arcadeforge_environment.png"), root_path, :class => "environment-logo" %>

	<div id="environment-cta">
		<%= button_to "Create Game", {:controller => 'games', :action => 'new'}, :id => "btn-creategame", :class => "btn btn-lg", :method => :get %>
	</div>

	<div id="lists">
		<div id="list-top">
		    <h1>Top games</h1>
		    <ul>
		        <% @popular_games.each_with_index do |game, i| %>
		            <% present game do |game_presenter| %>
		                <li><%= link_to "#{i+1}. #{game_presenter.name} - #{game_presenter.played_count}", game %></li>
		            <% end %>
		        <% end %>
		    </ul>
		</div>

		<div id="list-recent">
		    <h1>Recent games</h1>
		    <ul>
		        <% @recent_games.each_with_index do |game, i| %>
		            <% present game do |game_presenter| %>
		                <li><%= link_to "#{i+1}. #{game_presenter.name}", game %></li>
		            <% end %>
		        <% end %>
		    </ul>
		</div>
	</div>
	<div id="environment-base"></div>
</section>