<div id="hero">
    <div id="hero-banner">
    </div>
    <!--
    <img class="hero-brand" src="images/application/logo_lg.png">
    <div>
        <a class="btn btn-lg btn-success">Create Game</a>
    </div>
    --> 
</div>
<section class="container-fluid">
    <div class="row">
        <div class="col-md-5">
            <h2>What is ArcadeFORCE?</h2>
            
            <p>Arcade Forge is an online tool with which you easily and without programming can make simple but personal games to share with your friends. The above videos give an introduction to how quickly a space shooter game can be made. The finished game can be found in the list to the right.</p>
            <p>Currently we are in a Closed Beta-stage, in which only a limited amount of beta keys are released. If you are interested, Follow our Twitter or Facebook for chances to receive one, or just to stay up to date with development!</p>
        </div>
        <div class="col-md-7">
            <h2>Featured Games</h2>
            
        </div>
    </div>
</section>