<div class="welcome"><h2>Hello!</h2>
	<p>
		Welcome to our game-maker game, the <b>Arcade Forge</b> (which works best in Chrome ^^)!
	</p>
	<p>This is a game where you make your game.. while playing it. And you can make it with whatever objects you want, and choose from an array of actions and movement types to make them behave the way you want. If you're not entirely sure exactly how your game should be from the beginning - don't worry. This is the point of this game. You start out with the minimum amount of objects that you know you want your game to be about, and then you start off by "directing" your game. When things occur that you haven't thought of yet, we will pause the game and ask you what should happen!</p>
	<p>
		This is an <b>alpha</b>, which means only the most rudimentary functionality is implemented. The UI might also not be.. the best. This is just a test to see how long this functionality will take you in your game creation, and what major features you would need to be able to complete it. This means we will appreciate greatly any feedback that you can give. Don't worry about smaller bugs, or crappy UI, or weird things that happen if you deliberately try to fuck shit up because we will look this over a thousand times before we ever launch this for real. We just need general pointers in what direction to proceed.
	</p>
	<h3>How to play</h3>
	<p>We're aiming to make this as simple as possible. You start off in the <b>editing</b> mode, where you can add objects to your <b>object library</b> to the left. These are objects that you can either drag onto the screen, or create through <b>actions</b> while the game is running. The objects you drag-and-drop to the current scene (there's only one at the moment) are <b>unique objects</b> that will have a unique name and are targetable through actions.
	</p>
	<h3>Game logic</h3>
	<p>We have three ways of adding game logic to your game. <b>Counters</b>: You can add counters to objects, and increase and decrease those through actions. You can also trigger actions to run whenever these counters reach a certain value. <b>Randomness</b>: If you see an orange field, this is a <b>range field</b>. This means that you can input a range of numbers, like "100-200". <b>Timing:</b> Whenever you create an action, you can choose whether it should happen instantaneously, periodically or at a fixed time.</p>
	<p>Enough talking, try this shit out!</p>
	<p>/Jonatan & Jakob</p>
<center><%= button_to 'Go!', {controller: "games", action: "index"}, {:class => 'regularButton'} %></center>
</div>
