/*! dev.css | http://arcadeforge.io */

/* ==========================================================================
   Made by: Terry Strongheart
   Desc: Style for deleting state button
   Date: 2015-01-24
   ========================================================================== */
.terrys-class {
  /**/
}

.arrow_box {
    position: relative;
    background: #d54b35;
    border: 2px solid #FFFFFF;
    padding: 5px 5px 5px 5px;
    font-size: 0.8em;
    color: #FFFFFF;
    font-family: 'Droid Sans', sans-serif;
}

.arrow_box:after, .arrow_box:before {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.arrow_box:after {
    border-color: rgba(213, 75, 53, 0);
    border-top-color: #d54b35;
    border-width: 10px;
    margin-left: -10px;
}
.arrow_box:before {
    border-color: rgba(194, 225, 245, 0);
    border-top-color: #FFFFFF;
    border-width: 13px;
    margin-left: -13px;
}

/* Style fix for action-window in direct mode 2014-02-02 */
#select-action-window .btn-group {
  margin-bottom: 0;
}