/*! dev.css | http://arcadeforge.io */

/* ==========================================================================
   Made by: Terry Strongheart
   Desc: Style for deleting state button
   Date: 2015-01-24
   ========================================================================== */
.terrys-class {
  /**/
}

.arrow_box {
    position: relative;
    background: #d54b35;
    border: 2px solid #FFFFFF;
    padding: 5px 5px 5px 5px;
    font-size: 0.8em;
    color: #FFFFFF;
    font-family: 'Droid Sans', sans-serif;
}

.arrow_box:after, .arrow_box:before {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.arrow_box:after {
    border-color: rgba(213, 75, 53, 0);
    border-top-color: #d54b35;
    border-width: 10px;
    margin-left: -10px;
}
.arrow_box:before {
    border-color: rgba(194, 225, 245, 0);
    border-top-color: #FFFFFF;
    border-width: 13px;
    margin-left: -13px;
}

/* Style fix for action-window in direct mode 2015-02-02 */
#select-action-window .btn-group {
  margin-bottom: 0;
}

/* Image uploading. 2015-02-07 */

.selected-image-preview, .popup-selected-image-preview {
  width: 100px;
  height: 100px;
}

#image-select-popup {
  height: 400px;
  width: 550px;
  position: absolute;
  left: calc(50% - 275px);
  top: calc(50% - 200px);
  display: none;
  z-index: 3;
  background: #505050;
}

#image-select-popup .image-select-content {
  display: none;
}

#image-select-tab-row {
  position: absolute;
  top: -26px;
}

#image-select-tab-row .image-select-tab{
  float: left;
  background-color: #505050;
  cursor: pointer;
  margin-right: 5px;
  padding: 5px;
}

#image-select-tab-row .image-select-tab.active{
  cursor: default;
  background-color: #e5a52e;
}

#image-select-overlay {
  z-index: 2;
}

#image-select-library-categories {
  width: 100px;
  height: 400px;
  float: left;
}

.image-select-library-category {
  padding: 2px 4px 2px 4px;
  cursor: pointer;
}

.image-select-library-category.active {
  background-color: #e5a52e;
  cursor: default;
}

.image-select-library-image {
  float: left;
  cursor: pointer;
}

.image-select-library-image img {
  width: 100px;
  height: 100px;
}

/* Image uploading for states 2015-02-12 */

#global-object-image-upload-controls.fade-disable {
  opacity: 0.5;
  pointer-events: none;
  cursor: default;
}


/* ==========================================================================
   Add global object: Description
   ========================================================================== */

.global-object-description {
  margin-bottom: 20px;
}

.global-object-description span {
  display: inline-block;
  font-family: 'Droid Sans', sans-serif;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
}


/* ==========================================================================
   The div that contains information about an On Collide-item. The image,
   the title and the delete button
   ========================================================================== */

.collision-with-item {
  display: block;
  height: 26px;
  margin-bottom: 1px;
  padding: 0 0 0 21px;
  background-color: #424242;
}

.collision-with-item span {
  display: inline-block;
  padding-top: 6px;
}

.collision-with-item a.btn {
  width: 30px;
  padding: 5px 0 0 0;
  height: 21px;
  float: right;
}
