/*! parameters.css | http://arcadeforge.io */

.parameters li {
  margin-bottom: 2px;
}

.parameters li.active {
  border-left: 1px solid #e5a52e;
  border-right: 1px solid #e5a52e;
  border-bottom: 1px solid #e5a52e;
}

.parameters li table {
  margin-bottom: 2px;
  width: 100%;
  background-color: #383838;
}

.parameters li tr {
  border-bottom: 1px solid #323232;
}

.parameters li tr:first-child {
  height: 26px;
}

.parameters li tr:last-child {
  border-bottom: none;
}

.parameters li td {
  height: 27px;
  padding: 0 20px 0 20px;
}

.parameters li td:first-child {
  padding-left: 20px;
  padding-right: 0;
  width: 120px;
}

.parameters span {
  line-height: 1;
}

/* ==========================================================================
   Parameters: Table content
   ========================================================================== */
.parameters li table label {
  color: #fdff9a;
  font-size: .75em;
}

.parameters li table span {
  color: #65ffff;
  font-size: .75em;
}

.parameters li table input,
.parameters li table select {
  padding: 0 0 0 4px;
  height: 17px;
  background-color: #505050;
  color: #f5f5f5;
  font-size: .75em;
  width: 144px;
  border: 1px solid #595959;
}

.parameters li span {
  font-family: 'Droid Sans', sans-serif;
}

/* ==========================================================================
   Parameters: Group title
   Info: Title for a group of parameters
   ========================================================================== */
.parameters li > span {
  display: block;
  margin-bottom: 2px;
  padding: 10px 0 5px 21px;
  text-shadow: 1px 1px rgba(0,0,0,.6);
  height: 19px;
  background-color: #424242;
}

.parameters li.active > a {
  margin-bottom: 0;
}

.parameters li.active > span {
  background-color: #e5a52e;
}

/* ==========================================================================
   Parameters: Title
   Info: Title for a specific set of parameters
   ========================================================================== */
   
.parameter-title {
  display: block;
  height: 26px;
  margin-bottom: 1px;
  padding: 0 0 0 21px;
  background-color: #424242;
}

.parameter-title span {
  display: inline-block;
  padding-top: 6px;
}

.parameter-title a.btn {
  width: 30px;
  padding: 5px 0 0 0;
  height: 21px;
  float: right;
}