/*! scene-object.css | http://arcadeforge.io */

.route-node-container {
  display: block;
}

.route-node {
  display: block;
  width: 34px;
  cursor: move;
  margin-right: 2px;
  float: left;
}

.route-node-label {
  display: block;
  width: 34px;
  height: 28px;
  border-radius: 17px;
  background-color: #323232;
  text-align: center;
  padding-top: 6px;
}

.route-node-actions {
  display: block;
  float: left;
}