<main>

  <!-- Column: Left -->
  <div class="col left border-right">
    <div id="toolbar-left" class="btn-group">
      <div id="toolbar-global-counters">&nbsp;</div>
      <div id="toolbar-game-properties">&nbsp;</div>
    </div>
  </div>

  <!-- Column: Right -->
  <div id="edit-mode-tools" class="col right border-left">

    <!-- Panel: Properties -->
    <div id="properties" class="panel wide">
      <div class="panel-header">
        <span>Properties</span>
      </div>
      <div id="side-properties-form-container">
      </div>
    </div>

    <!-- Panel: Library -->
    <div id="library" class="panel wide">
      <div class="panel-header">
        <span>Objects</span>
      </div>
      <div id="library-tabs" class="library-tabs">
        <div class="btn-group sequenced">
          <a href="#" class="btn tab active" id="global-object-library-tab" data-panelid="global-object-library">Global objects</a>
          <a href="#" class="btn tab" id="scene-object-library-tab" data-panelid="scene-object-library">Scene objects</a>
        </div>
      </div>
      <div id="global-object-library" class="object-library-panel">
        <div id="library-preview" class="library-preview">
        </div>
        <div class="library-explorer">
          <ul class="global-object-list">
          </ul>
        </div>
        <div id="library-menu">
          <div class="btn-group sequenced">
            <a href="#" id="add-global-object-button" class="btn success">Add</a>
            <a href="#" id="edit-global-object-button" class="btn edit">Edit</a>
            <a href="#" id="rename-global-object-button" class="btn warning">Rename</a>
            <a href="#" id="delete-global-object-button" class="btn warning">Delete</a>
          </div>
        </div>
      </div>
      <div id="scene-object-library" class="object-library-panel">
        <div class="library-preview">
        </div>
        <div class="library-explorer">
          <ul class="scene-object-list">
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- Column: Middle -->
  <div class="col middle">
    <div id="scenes" class="border-bottom">
    </div>
    <div id="canvas-container" oncontextmenu="return false;">
    </div>
  </div>
</main>