<aside class="border-right">
  <article>
    <%= link_to "Create your game", new_game_path, :class => "btn success wide" %>
  </article>
</aside>

<section id="games">
  <article>
    <ul class="game-category">
      <h2>Popular Games</h2>
      <%= render :partial => 'game_thumbnail', :collection => @popular_games %>
    </ul>
    <ul class="game-category">
      <h2>All Games</h2>
      <%= render :partial => 'game_thumbnail', :collection => @all_games %>
    </ul>
  </article>
</section>