<section id="signup"> 
	<div class="panel centered">
		<div class="panel-body">
			<article>
				<h2>Create New Game</h2>
				<%= form_for @game, url: {action: 'create'} do |f| %>
					<fieldset>
						<div class="input-container">
							<%= f.text_field :name %>
							<%= f.label :name %>
						</div>
					</fieldset>
					<%= f.submit "Create" , :class => "btn success wide" %>
				<% end %>
			</article>
		</div>
	</div>
</section>