<%= javascript_include_tag 'game', 'data-turbolinks-track' => true %>
<%= include_gon %>

<!-- Container -->
<div class="container-fluid">


    <!-- Toolbar bottom -->
    <div id="toolbar-bottom" class="row">

        <!-- Column Left -->
        <div class="col left border-right">
        </div>

        <!-- Column middle -->
        <div class="col middle">
            <!-- Canvas -->
            <div id="canvas-container" class="row" oncontextmenu="return false;">
            </div>
        </div>

    </div>
</div>