<%= javascript_include_tag 'game', 'data-turbolinks-track' => true %>


<!-- Container -->
<div class="container-fluid">

    <!-- Toolbar top -->
    <div id="toolbar-top" class="row border-bottom">
        <a href="http://arcadeforge.com/" target="_self" id="logo"></a>

    </div>

    <!-- Toolbar bottom -->
    <div id="toolbar-bottom" class="row">

        <!-- Column Left -->
        <div class="col left border-right">
        </div>

        <!-- Column middle -->
        <div class="col middle">
            <!-- Canvas -->
            <div id="canvas-container" class="row" oncontextmenu="return false;">
            </div>
        </div>

    </div>
</div>