#splash {
    position: absolute;
    z-index: 1000;
}

#splash > * {
    top: 100px;
    position: relative;
    margin: auto;
    display: block;
    vertical-align: middle;
}

#splash-overlay {
    background-color: #000000;
    opacity: 0.5; 
    position: absolute;
    z-index: 999;
}

#splash > a {
    font-size: 13em;
    border-style: 2px solid;
    border-color: #ffffff;
    pointer-events: auto;
}

#splash > a:hover {
    text-decoration: none;
}

#splash > p, h2, h1, a {
    font-color: #ffffff;
    font-family: Arial;
    width: 100%;
    text-align: center;
    box-shadow: none;
}
