#editSceneObjectForm {
	width: 350px;
}

#editCollisionActionsObjectMenu, #editKeyActionsKeyMenu, #editCountersMenu, #editCounterEventContent {
    width: 100px;
    float: left;
}

#editCollisionActionsObjectContent, #editKeyActionsKeyContent, #editCounterEventActionsContent {
    float: left;
}

.group {
    display:block;
    float: left;
    border: 1px solid #E0F3F9;
    border-radius: 4px;
    top: -10px;
    line-height:20px;
    color: #336680;
    padding: 7px;
    margin-right: 5px;
    height: 60px;
    vertical-align:middle;
    background-color: #444;
    
}

#selectActionAddButton {
    float: left;
}

.groupHeading {
    position: relative;
    top: -20px;
    border-radius: 4px;
    border: 1px solid #63b8ee;
    background-color: #E0F3F9;
    padding: 5px;
    text-align: center;
}
.actionParameter {
    display: block;
    position: relative;
    float: left;
    font-family:Arial;
    top: -20px;
	font-size:12px;
	font-style:oblique;
    text-align:left;
    padding: 4px;
    color: #63b8ee;
    text-shadow:1px 1px 1px #336680;
    margin-right: 4px;
    height: 50px;
    vertical-align:middle;
}
.removeActionBox {
    float: left;
    position: relative;
    z-index: 3;
    color: white;
    line-height: 20px;
    top: -9px;
    left: -9px;
    width: 30px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #225560;
}

.removeActionButton {
    text-decoration: none;
    color: white;
}
.actionRow {
    float: left;
    border-top-left-radius:3px;
	border-top-right-radius:3px;
    border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
    text-align:center;
    border-top:solid 1px;
    border-left:solid 1px;
    border-right:solid 1px;
    border-bottom:solid 1px;
    background: #E0F3F9;
    line-height:100%;
    width: 200px;
    color: #336680;
    
}

.actionText {
    margin-left: 15px;
    float: left;
    position: relative;
}

.parameterLabel {
    line-height:20px;
    height: 20px;
    text-shadow:1px 1px 0px #4DB8FF;
    font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
}

input.numberField {
    border: 2px solid #4DB8FF;
    border-radius:10px;
    text-shadow:1px 1px 0px #000000;
    height: 22px;
    float: left;
    padding-left: 5px;
    color: #4DB8FF;
    width: 80px;
}
.selectorField {
    border: 2px solid #4DB8FF;
    border-radius:10px;
    text-shadow:1px 1px 0px #000000;
    height: 30px;
    float: left;
    padding-left: 3px;
}

input.rangeField {
    border: 2px solid #FFB84D;
    border-radius:10px;
    text-shadow:1px 1px 0px #000000;
    height: 22px;
    float: left;
    padding-left: 5px;
    color: #4DB8FF;
    width: 100px;
}

input.textField {
    border: 2px solid #22B84D;
    border-radius:10px;
    text-shadow:1px 1px 0px #000000;
    height: 22px;
    float: left;
    padding-left: 5px;
    color: #BBB822;
    width: 120px;
}

.textFieldLabel {
    height: 18px;
    color: #4DB8FF;
    text-shadow:1px 1px 0px #000000;
    line-height: 18px;
    float: left;
    font-family:Arial;
    font-size:14px;
    font-weight:bold;
    font-style:normal;
    width: 100px;
}

.justText {
    height: 13px;
    color: #4DB8FF;
    text-shadow:1px 1px 0px #000000;
    line-height: 13px;
    float: left;
    font-family:Arial;
    font-size:13px;
    font-weight:bold;
    font-style:normal;
}

.form_tooltip {
    width: 200px;
    font-family:Arial;
    font-size:11px;
    line-height: 11px;
	margin-bottom: 5px;
}

textArea, input {
	border: 1px solid black;
	border-radius: 2px;
}

form {
	margin-left: 10px;
}

.control-label {
	margin-top: 10px;
}

.control-group {
	margin: 10px;
}
