/* reset default browser values */	
@import url(reset.css);

/* UI Objects (route nodes, dialogues) */
@import url(ui_objects.css);

/* Forms (Edit Action form)*/
@import url(forms.css);

/* Common small objects (buttons etc) */
@import url(common.css);

#dialogueOverlay {
    position:absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    z-index: 1;
    opacity: 0.7;
    margin: -8px;
    display: none;
}

#dialogueWindow {
	padding: 5px;
}

.tabContainer {
    height: 30px;
    padding: 5px 5px 0 5px;
    position: absolute;
    top: -37px;
    left: -1px;
}

.tabContainer .tab {
    float:left;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    height: 100%;
    padding: 0 5px 0 5px;
    background-color: #777;
    border-radius: 5px 5px 0 0;
    margin-right: 2px;
    border: 1px solid black;
}

.tabContainer .tab:hover {
	background-color: #888;
}

.tabContainer .tab.active {
    background-color: #999;
}

#mainCanvas {
    border: 2px solid;
    border-radius: 10px;
    margin: 10px;
    position: absolute;
    left: 120px;
}

#mainMenu {
    position: absolute;
    left: 1174px;
}

#addPlayerObjectMovementParameters {
	margin-top: 10px;
}

#globalObjectListContainer {
	height: 780px;
	width: 120px;
	float:left;
	overflow: auto;
}

.addCollisionObjectElement, .addKeyObjectElement {
	margin: 5px;
	background-color: #888;
	padding: 5px;
	border-radius: 5px;
	height: 85px;
}

.counterMenuElement, .keyMenuElement {
	
}

#editCollisionActionsObjectContent {
	width: 580px;
}

#editGlobalObjectWindowContent #selectActionsHeader{
	line-height: 20px;
	text-shadow: 1px 1px 1px #4DB8FF;
	font-family: Arial;
	font-size: 15px;
	font-weight: bold;
	font-style: normal;
	border: 1px solid #63b8ee;
	background: #E0F3F9;
	border-radius: 5px;
}

#editCollisionActionsObjectMenuContainer, #editKeyActionsObjectMenuContainer {
	float: left;
	height: 500px;
	width: 120px;
	overflow-y: auto;
	overflow-x: hidden;
}

#selectActionsContent .group {
	margin-bottom: 15px;
}

#editCounterEventContent, #editCountersCounterContent, #editCounterEventActionContent, #editCounterEventActionsContent {
	margin-left: 5px;
	float: left;
}

#editCounterEventActionsContent #selectActionWindow {
	width: 485px;
}

.welcome {
	width: 75%;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid black;

	-moz-box-shadow:5px 5px 0px 0px rgb(200, 200, 200) inset;
	-webkit-box-shadow:5px 5px 0px 0px rgb(200, 200, 200) inset;
	box-shadow:5px 5px 0px 0px rgb(200, 200, 200) inset;
	border-radius: 10px;
	padding: 10px;
	background-color: #EEEEEE;
}