<aside class="border-right">
  <article>
  	<%= link_to "Create new game", new_game_path, :class => "btn success wide" %>
  </article>
</aside>

<section id="my-games">
  <article>
  	<div class="game-category">
		  <h2>My games</h2>
		  <% if @games.empty? then %>
		    <p>You have no games. <%= link_to "Forge one now!", new_game_path %></p>
		  <% end %>
		  <%= render :partial => 'mygame_thumbnail', :collection => @games %>
		</div>
  </article>
</section>
