<h1>My page mother fucker</h1>
<ul>
  <%= render :partial => 'game_thumbnail', :collection => @games %>
  <% if @games.empty? %>
    <li>No games :( <%= link_to "Create new!", :controller => 'games', :action => 'new' %></li>
  <% end %>
</ul>

<%= link_to "Create new game :D", new_game_path %>