/*! dev.css | http://arcadeforge.P */

/* ==========================================================================
   Made by: Jake the FUCKING SNAKE
   Desc: Style for game category in "Play"
   Date: 2015-01-24
   ========================================================================== */
.game-category {
  display: block;
  width: 800px;
  overflow: hidden;
}
