/*! sections.css | http://arcadeforge.io */

/* ==========================================================================
   Sections: Home
   ========================================================================== */

#home .logo {
	display: block;
	width: 404px;
	height: 181px;
	margin: 0 auto 20px auto;
}

#home .cta {
	display: table;
	margin: 0 auto 0 auto;
}

/* ==========================================================================
   Sections: Game
   ========================================================================== */

.game-item {
	margin-right: 20px;
	margin-bottom: 30px;
	float: left;
}

.game-item img {
	display: block;
}

.game-item a {
	display: block;
}