<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <title>Arcadeforge</title>
        <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>
        <%= stylesheet_link_tag    'game', media: 'all', 'data-turbolinks-track' => true %>
        <%= csrf_meta_tags %>
    </head>
    <body>


        <!-- Container -->
        <div class="container-fluid">

            <!-- Toolbar top -->
            <div id="toolbar-top" class="row border-bottom">
                <a href="http://arcadeforge.com/" target="_self" id="logo"></a>
                <button type="button" id="run-game-button" class="btn btn-success btn-lg">Run Game</button>
                <button type="button" id="edit-game-button" class="btn btn-success btn-lg">Edit Game</button>
                <button type="button" id="direct-game-button" class="btn btn-success btn-lg">Direct Game</button>
                <%= account_nav %>
            </div>

            <%= yield %>
        </div>

    </body>
</html>